<section class="container mx-auto p-4">
  <form class="flex items-center max-w-2xl">
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <div
        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        id="simple-search"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search"
        required=""
      />
    </div>
    <button
      type="submit"
      class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        ></path>
      </svg>
      <span class="sr-only">Search</span>
    </button>
    <button type="submit" class="ml-2 w-10 h-10 rounded-full">
      <img
        class="w-10 h-10 rounded-full"
        src="https://icdn.lenta.ru/images/2020/03/13/18/20200313180805545/detail_c66ba7be2eb973e9ec0beb79fe2fc221.jpg"
        alt="Rounded avatar"
      />
    </button>
  </form>
</section>
<section class="container m-auto px-4">
  <div
    class="flex justify-between max-w-2xl text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
  >
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
        <a
          href="#"
          class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          >User</a
        >
      </li>
      <li class="mr-2">
        <a
          href="#"
          class="inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500"
          aria-current="page"
          >Global</a
        >
      </li>
    </ul>
    <button
      href="#"
      class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
    >
      <fa-icon [icon]="faGear"></fa-icon>
    </button>
  </div>
</section>
<section class="container m-auto px-4">
  <div class="flex gap-6 flex-wrap py-4">
    <a href="" class="flex flex-col">
      <img
        class="mx-2 p-1 w-10 h-10 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="https://icdn.lenta.ru/images/2020/03/13/18/20200313180805545/detail_c66ba7be2eb973e9ec0beb79fe2fc221.jpg"
        alt="Bordered avatar"
      />
      <span class="text-sm mt-1 font-medium text-center text-gray-500"
        >Card</span
      >
    </a>
    <a href="" class="flex flex-col">
      <img
        class="mx-2 p-1 w-10 h-10 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="https://icdn.lenta.ru/images/2020/03/13/18/20200313180805545/detail_c66ba7be2eb973e9ec0beb79fe2fc221.jpg"
        alt="Bordered avatar"
      />
      <span class="text-sm mt-1 font-medium text-center text-gray-500"
        >Address</span
      >
    </a>
    <a href="" class="flex flex-col">
      <img
        class="p-1 mx-2 w-10 h-10 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="https://icdn.lenta.ru/images/2020/03/13/18/20200313180805545/detail_c66ba7be2eb973e9ec0beb79fe2fc221.jpg"
        alt="Bordered avatar"
      />
      <span class="text-sm mt-1 font-medium text-center text-gray-500"
        >Finance</span
      >
    </a>
    <a href="" class="flex flex-col">
      <img
        class="p-1 mx-2 w-10 h-10 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="https://icdn.lenta.ru/images/2020/03/13/18/20200313180805545/detail_c66ba7be2eb973e9ec0beb79fe2fc221.jpg"
        alt="Bordered avatar"
      />
      <span class="text-sm mt-1 font-medium text-center text-gray-500"
        >Pages</span
      >
    </a>
    <a href="" class="flex flex-col">
      <img
        class="p-1 mx-2 w-10 h-10 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="https://icdn.lenta.ru/images/2020/03/13/18/20200313180805545/detail_c66ba7be2eb973e9ec0beb79fe2fc221.jpg"
        alt="Bordered avatar"
      />
      <span class="text-sm mt-1 font-medium text-center text-gray-500"
        >Forms</span
      >
    </a>
    <a href="" class="flex flex-col">
      <img
        class="p-1 w-10 mx-2 h-10 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="https://icdn.lenta.ru/images/2020/03/13/18/20200313180805545/detail_c66ba7be2eb973e9ec0beb79fe2fc221.jpg"
        alt="Bordered avatar"
      />
      <span class="text-sm mt-1 font-medium text-center text-gray-500"
        >Market</span
      >
    </a>
  </div>
</section>

<section class="container m-auto px-4">
  <h2 class="my-4 text-xl font-bold">Connect to</h2>
  <div class="flex gap-6 flex-wrap">
    <a href="" class="w-[64px] flex flex-col">
      <img
        class="self-center w-12 h-12 mx-1 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="https://i.pinimg.com/originals/4a/b3/7f/4ab37fd9235ee454ef36d904f80502ff.png"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"
        >Message</span
      >
    </a>
    <a href="" class="w-[64px] flex flex-col">
      <img
        class="self-center w-12 h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="https://sun6-20.userapi.com/s/v1/ig1/Zqj92dch304-SOGqqBymvIzM9du0OtyovwawM6oeMC0e8xin4ogKw5XH_XtgqvOmGOhIwio-.jpg?size=2160x2160&quality=96&crop=0,0,2160,2160&ava=1"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500">Vk</span>
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="self-center w-12 h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="https://techrrival.com/wp-content/uploads/2019/05/WhatsApp-1536x983.jpg"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"
        >Whatsapp</span
      >
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="https://sun9-70.userapi.com/sun9-71/impg/Yi4GNitPUd69Ri-_s2tZycZKpAsO_Wo1kNbN2g/DCOS3yhOrJI.jpg?size=896x655&quality=96&sign=20bd6da4db3fcbe91cb04d7fd0a2923d&c_uniq_tag=_183xaczXLK-BQBmNL3DB-0bnynXMf_v3FM01oT2Fyg&type=album"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"
        >Telegram</span
      >
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="https://img2.freepng.ru/20181109/peu/kisspng-computer-icons-email-clip-art-electronic-mailing-l-selamat-datang-ke-portal-agensi-remote-sensing-mal-5be6281131e640.4432386815418101932044.jpg"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"
        >Email</span
      >
    </a>
  </div>
</section>

<section class="container m-auto px-4">
  <h2 class="my-4 text-xl font-bold">Connect Button</h2>
  <div class="flex gap-6 flex-wrap">
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="#"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"></span>
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="#"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"></span>
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="#"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"></span>
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="#"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"></span>
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="https://e7.pngegg.com/pngimages/607/698/png-clipart-money-automated-teller-machine-computer-icons-bank-atm-miscellaneous-saving.png"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"
        >Oplata</span
      >
    </a>
    <a href="" class="flex flex-col w-[64px]">
      <img
        class="w-12 self-center h-12 bg-slate-300 rounded-2xl ring-gray-300 dark:ring-gray-500"
        src="#"
        alt="social"
      />
      <span class="text-sm mt-1 text-center break-all text-gray-500"></span>
    </a>
  </div>
</section>
